
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

/*.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  } */


  .slider-div1 {
    width: 100%;
    padding: 20px 0;
  }

  .content-box {
    width: 280px;
    height: 120px;
    padding: 5px;
    margin: 5px auto;
    overflow: hidden;        
    border: 1px solid #eee;       
  }

  .content-left {
    width: 80px;
    height: 80px;    
    border-radius: 60px;
    text-align: center;
    margin-top: 15px;
    margin-left: 5px; 
    float: left;
    overflow: hidden;
    border: 1px solid #eee;
  }

  .content-right {
    width: 180px;
    height: 100px;
    padding: 10px 0;
    text-align: center;   
    float: right;       
  }

  .content-more {
    font-size: 9px;
  }

  .figures {
    width:90%;
    height: 100%;
    min-height: 120px;
    margin: 0 auto;
    padding: 5px 0;    
    overflow: hidden;
    text-align: center;
    font-size: 25px;    
  }


.partner-box {
    width: 280px;
    height: 120px;
    padding-top: 40px;
    margin: 5px auto;
    text-align: center;
    overflow: hidden;
    border: 1px solid #eee;    
}




  